@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.required::after {
  content: '*';
  color: rgb(253, 110, 110);
  margin-left: 5px;
  font-weight: bold;
}
